.Rproj.user
.Rhistory
.RData
.Ruserdata

Slides/A_Introduction.tex
Slides/A_Introduction_files
Slides/B_BasicR.tex
Slides/B_BasicR_files
Slides/C_FunctionsAndLoops.tex
Slides/C_FunctionsAndLoops_files


Slides/*.snm
Slides/*.log
Slides/*.vrb
Slides/*.toc
Slides/*.nav
Slides/*.aux



