.Rproj.user
.Rhistory
.RData
.Ruserdata

Slides/A_Introduction.tex
Slides/A_Introduction_files
Slides/B_BasicUseR.tex
Slides/B_BasicUseR_files
Slides/C_FunctionsAndLoops.tex
Slides/C_FunctionsAndLoops_files
Slides/C_TheApplyFamily.tex
Slides/C_TheApplyFamily_files
Slides/E_Markdown.tex
Slides/E_Markdown_files

Slides/*.snm
Slides/*.log
Slides/*.vrb
Slides/*.toc
Slides/*.nav
Slides/*.aux

Demos/*/*.html
Demos/*/*.RData
Demos/*/*.log
Demos/*/*.docx
Demos/*/*.tex

/2019 material