.Rproj.user
.Rhistory
.RData
.Ruserdata

Slides/A_Introduction.log
Slides/A_Introduction.pdf
Slides/A_Introduction.vrb
Slides/A_Introduction.nav
Slides/A_Introduction.snm
Slides/A_Introduction.toc
Slides/A_Introduction.tex
